*{
  margin: 0px;  
  padding: 0px;
  text-decoration: none;
  outline: none;
}

body {
    background: linear-gradient(160deg, #020024 17%, #474a59 49%, #565b71 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 600px; 
    height: 400px;  
    padding: 10px;
    border-radius: 5px;
    background-color: #f1e0c5;
}

.container h1 {
    font-size: 35px;
    margin: 30px;
    text-align: center;
}

.container p {
    text-indent: 14px;
    font-weight: 600;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    flex-grow: 1px;
    gap: 5px;
}

.input, .button {
    padding: 8px;
    outline: none;
    border: 1px solid #535353;
    border-radius: 4px;
    font-weight: 600;
}

.button {
    background-color: #020024;
    color: #f5f5f5;
    cursor: pointer;
    
}

.input {
    font-size: 18px;
    text-align: center;
}

.button:hover {
    background-color: #565b71;
    color: #fefefe;
};



@media screen and (max-width: 600px) {

    .container {
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .container h1 {
        font-size: 27px;
    }

    .container p {
        font-size: 16px;
    }

    form {
        width: 350px;
    }

    .input {
        font-size: 16px;
    }


}

